<section id="blog" class="blog">
    {% for post in site.posts %}
      <div class="blog-section">
        <a class="text-primary" href="{{ baseurl_rel }}{{ post.url }}"><h2 class="blog-heading text-primary">{{ post.title }}</h2></a>
        <div class="blog-author">{{ post.date | date: "%b %-d, %Y" }} • {{ post.author }}</div>
        <div class="content">{{ post.excerpt }}  <a class="text-primary" href="{{ baseurl_rel }}{{ post.url }}">Continue...</a></div>
      </div>
    {% endfor %}
  </section>
