<!doctype html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container-fluid">
      <div class="row">

        {% if page.toc.size > 0 %}

        <div class="col-md-3 border-right border-dark">

          <nav class="navbar navbar-expand-md navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navTableOfContents" aria-controls="navTableOfContents" aria-expanded="false" aria-label="Toggle Table of Contents">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navTableOfContents">

              <div class="navbar-nav flex-column">
                <ul class="no-bullets">
                  {% for entry in page.toc %}
                    <li class="nav-item">
                      {% if entry.items %}
                        <a class="nav-link text-dark text-wrap collapsed" data-toggle="collapse" data-target="#{{ entry.title }}"  class href="{{ entry.url }}"><i class="fa fa-table"></i>{{ entry.title }}</a>
                        <div class="collapse" aria-expanded="false" id="{{ entry.title }}">
                          <ul class="no-bullets">
                            {% for e in entry.items %}
                              <li class="nav-item"><a class="nav-link text-dark text-wrap" href="{{ e.url }}">{{ e.title }}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% else %}
                        <a class="nav-link text-dark text-wrap"  class href="{{ entry.url }}">{{ entry.title }}</a>
                      {% endif %}
                      {% unless entry.items %}
                        {% continue %}
                      {% endunless %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </nav>
        </div>

        <div class="col-md-9 py-3 pl-5">

        {% else %}
        <div class="col py-3 pl-5">
        {% endif %}

          <div class="jumbotron">
            <h1>{{ page.title }}</h1>
          </div>

          <div class="content">{{ content }}</div>
        </div>
      </div>
    </div>

    {% for js in page.jsfiles %}
     <script type="text/javascript">
     {% include {{ js }} %}
     </script>
    {% endfor %}
  </body>
</html>
