<!doctype html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container-fluid">
      <div class="row">

        <div class="col-md-3 border-right border-dark">

          <nav class="navbar navbar-expand-md navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navTableOfContents" aria-controls="navTableOfContents" aria-expanded="false" aria-label="Toggle Table of Contents">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navTableOfContents">

              <div class="navbar-nav flex-column">
		            {% include development-toc.html items=site.development prefix="_development/" %}
              </div>
            </div>
          </nav>
        </div>

        <div class="col-md-9 py-3 pl-5">

          <div class="jumbotron">
            <h1>{{ page.title }}</h1>
          </div>

          <div class="content">{{ content }}</div>
        </div>
      </div>
    </div>

    {% for js in page.jsfiles %}
     <script type="text/javascript">
     {% include {{ js }} %}
     </script>
    {% endfor %}
  </body>
</html>
