<!doctype html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <div class="masthead" id="content" role="main">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-1 mt-3">
          <h1 class="mb-3"></h1>
          <center>
            <img src="{{ baseurl_rel }}/img/ipdk_logo_FIN.svg" alt="Infrastructure Programmer Development Kit"
              width="100%" />
          </center>
          <p class="lead mb-4">
            Infrastructure Programmer Development Kit (IPDK) is an open source, vendor agnostic framework of drivers and APIs for infrastructure offload and management that runs on a CPU, IPU, DPU or switch. IPDK runs in Linux and uses a set of well-established tools such as SPDK, DPDK and P4 to enable network virtualization, storage virtualization, workload provisioning, root-of-trust and offload capabilities found in the platform. IPDK provides a common platform for increasing performance, optimizing resources and securing the infrastructure as a sub-project of <a href="https://opiproject.org">Open Programmable Infrastructure</a>, a <a href="https://www.linuxfoundation.org/projects/">Linux Foundation Project</a>.<br>
          </p>
          <div>
            <a href="{{ baseurl_rel }}/documentation/" class="btn btn-lg btn-dark mb-3 mr-md-1">Get started</a>
            <a href="/download/" class="btn btn-lg btn-dark mb-3 mr-md-1">Download</a>
            <a href="https://github.com/ipdk-io" class="btn btn-lg btn-dark mb-3 mr-md-1">GitHub</a>
            <a href="https://youtube.com/channel/UCrabFf05cRQgbmmk7aLzlJQ" class="btn btn-lg btn-dark mb-3 mr-md-1">YouTube</a>
            <a href="https://opiproject.org" class="btn btn-lg btn-dark mb-3">OPI Project</a>
          </div>
        </div>
        <div class="col-md-6 order-md-2 mt-3">
          <bR><img src="{{ baseurl_rel }}/img/ipdk-icons.svg" width="100%"><br>
            <center><br>
<iframe src="https://calendar.google.com/calendar/embed?height=300&wkst=1&bgcolor=%23df643a&ctz=America%2FLos_Angeles&showPrint=0&showTabs=1&showCalendars=0&mode=AGENDA&showDate=1&showNav=1&showTz=1&showTitle=1&title=IPDK.io%20Calendar&src=a29hdDliOTEyYWhqazBuZmVqaTUydWZhNW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23
4285F4" style="border:solid 1px #777" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
</center><br>
        </div>
      </div>
    </div>
  </div>

  <div class="news">
    <div class="container">
      <div class="row">
        <div class="col">

          <section id="blog" class="blog">
            {% for post in site.posts limit:10 %}
            <div class="blog-section">
              <a class="text-primary" href="{{ baseurl_rel }}{{ post.url }}">
                <h2 class="blog-heading text-primary">{{ post.title }}</h2>
              </a>
              <div class="blog-author">{{ post.date | date: "%b %-d, %Y" }} • {{ post.author }}</div>
              <div class="content">{{ post.excerpt }} <a class="text-primary"
                  href="{{ baseurl_rel }}{{ post.url }}">Continue...</a></div>
            </div>
            {% endfor %}
          </section>

        </div>
      </div>
    </div>
  </div>

</body>

</html>
