<!doctype html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container">
      <div class="row">

        <div class="col py-3 pl-5">
          <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="post-header">

            <div class="page-heading mb-5">
              <h1>{{ page.title }}</h1>
            </div>

            <p class="post-meta">
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
              </time>
              {% if page.author %}
              •
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ page.author }}</span>
              </span>
              {% endif %}
            </p>
          </header>

          <div class="content" itemprop="articleBody">{{ content }}</div>
        </article>
        </div>
      </div>
    </div>

    {% for js in page.jsfiles %}
     <script type="text/javascript">
     {% include {{ js }} %}
     </script>
    {% endfor %}
  </body>
</html>
